:root {
  --color-dark-blue: #264653;
  --color-blue: #63B6C7;
  --color-white :#fff;
}
@font-face {
    font-family: 'Unna bold';
    font-weight: 700;
    src: url('../fonts/Unna-bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Unna regular';
    font-weight: 400;
    src: url('../fonts/Unna-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Open sans regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype')
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Open sans regular', sans-serif;
}

.container{
	display: grid;
    gap: 1rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    margin: auto;
    width: 70%;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.item{
    -webkit-flex: auto;
	flex: auto;
}
.background-cross{
    background-color: #ffffff;
    background-image: url('../images/cross.svg');
    padding-right: 50rem;
    padding-bottom: 35rem;
}
.title, .subtitle, .paragraph{
    color: var(--color-dark-blue);
}
.title{
    font-family: 'Unna bold', serif;
    font-size: 60px;
}
.subtitle{
    font-family: 'Unna regular', serif;
    font-size: 30px;
}
.paragraph{
    font-family: 'Open sans regular', sans-serif;
    font-size: 18px;
}

.text-center{
    text-align: center;
}
.mt-25{
    margin-top: 25px;
}
.btn{
    padding:10px;
    border: 0;
    text-decoration: none;
}
.btn-primary{
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 15px;
}
.footer{
    padding: 50px;
}
.footer h4{
    color: var(--color-dark-blue);
}
.footer span{
    color: var(--color-dark-blue);
}

@media only screen and (max-width: 600px) {
    .img{
        height: 255px;
    }
    .background-cross{
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}